<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id='app'>
        <input type='radio' v-model='picked' value='html' id='html' />
        <label for="html">HTML</label>
        <input type='radio' v-model='picked' value='js' id='js' />
        <label for="html">js</label>
        <input type='radio' v-model='picked' value='css' id='css' />
        <label for="html">css</label>

        <br />
        <p>选择的项是{{picked}}</p>
    </div>
</body>
<script>
		var app = new Vue({
			el:'#app',
			data:{
				picked:'js'
			}
		})
	</script>
</html>